.App {
  text-align: center;
}

.music-container {
  display: flex;
  justify-content: space-around;

}

.music-list > ul {
  height: 80vh;
  overflow: scroll;
}
.music-list > ul > li {
  list-style: none;
  padding: 5px;

}

.music-list > ul > li:hover {
  font-size:1.5rem;
}

